.page {
  min-height: 100vh;
  background-color: #fff;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 32px 120px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .main {
    padding: 60px 24px 100px;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 32px 16px 64px;
  }
}
