.container {
  background-color: white;
  min-height: 100vh;
  width: 100%;
}

.navbar {
  background-color: #d9d9d9;
  height: 70px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0 2rem;
    gap: 1rem;
  }
}

.userAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  background-color: #9ca3af;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .userAvatar {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.userIcon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 768px) {
  .userIcon {
    width: 2rem;
    height: 2rem;
  }
}

.main {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media (min-width: 768px) {
  .main {
    padding: 4rem 2rem;
  }
}

.pageTitle {
  font-size: 2rem;
  font-weight: 600;
  color: #6b6b6b;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .pageTitle {
    font-size: 3.75rem;
    margin-bottom: 5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .grid {
    gap: 3rem;
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .grid {
    gap: 4rem;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.userName {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.logoutButton {
  background-color: rgba(255, 49, 49, 0.56);
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
}
